

<div class="card-header2">
    <div class="text-decoration-none culoarebuna"<i class="bi bi-person">@Model.User.UserName</i></div>
    <span class="float-end">@Model.PostDate.ToLongDateString()</span>
</div>




